test-results
node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
data/servers

# OS
.DS_Store
Thumbs.db
*Zone.Identifier

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# SQLite
*.db

# Yarn V2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
yarn-debug.log*
yarn-error.log*
.yarn-integrity

# Temporarry files
.vscode/chrome-debug-profile
